@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
html {
	min-height: 100vh;
	width: 100%;
}

body {
	background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
	height: fit-content;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
	font-family: inherit;
}

#map {
	max-width: 100%;
	max-height: 100%;
}

#map path {
	fill: #86aae0;
	stroke: #ffffff;
	stroke-width: 0.6;
	transition: fill 0.2s, stroke 0.3s;
}

#map path:hover {
	fill: red;
	stroke: red;
}

#map .separator {
	stroke: #ccc;
	fill: none;
	stroke-width: 1.5;
}

#map .separator:hover {
	stroke: #ccc;
	fill: none;
}

#mapWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	margin-top: 10vh;
}

nav.navbar.navbar-expand-lg {
	background-image: linear-gradient(to right, #43e97b 0%, #27d4b5 100%);
	position: relative;
	color: black;
}

nav.navbar.navbar-expand-lg .nav-link,
nav.navbar.navbar-expand-lg .navbar-brand {
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-weight: 500;
}

nav.navbar.navbar-expand-lg a:hover {
	color: #17702c;
	transition: 0.4s;
}

#lebonplan {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.carousel-inner .carousel-item {
	height: 50vh;
}

.carousel-inner .carousel-item img {
	height: 100%;
	width: 100%;
	display: block;
}
