{{> navigateur }}

<div class="container w-100 my-5 py-3">
    <h3 class="text-center text-uppercase m-5">Log In</h3>
    <form class="w-50 mx-auto" action="/login" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" name="username" value="" />
        </div>
        <div class="form-group mb-4">
            <input type="password" class="form-control" placeholder="Password" name="password" value="" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success btn-block p-2" value="Submit" />
        </div>
    </form>
</div>
