{{> navigateur}}


<div class="container my-5 py-2">
    <div class="container w-100">
        <h3 class="text-center  text-uppercase my-5">Sign Up</h3>
        <form class="w-50 mx-auto" enctype='multipart/form-data' action='/signup' method='POST'>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" name="username" value="" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="password" value="" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Firstname" name="firstname" value="" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Surname" name="surname" value="" />
            </div>
            <div class="form-group">
                <input type="file" name="image" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success w-25" value="Submit" />
            </div>
        </form>
    </div>
</div>
