{{>navigateur}}

<form enctype='multipart/form-data' action='/signup' method='POST'>

    <input type="text" placeholder="Username" name="username" />

    <input type="password" placeholder="Password" name="password" />

    <input type="text" placeholder="Firstname" name="firstname" />


    <input type="text" placeholder="Surname" name="surname" />

    <input type="file" name='image' />

    <button type="submit">Submit</button>

</form>



{{!-- <div class="container login-container">
    <div class="row">
        <div class="col-auto">
            <h3>Sign Up</h3>
            <form enctype='multipart/form-data' action='/signup' method='POST'>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" name="username" value="" />
                </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Password" name="password" value="" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Firstname" name="firstname" value="" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Surname" name="surname" value="" />
                </div>
                <div class="form-group">
                    <input type="file" name="image" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Submit" />
                </div>
            </form>
        </div>
    </div>
</div> --}}
